<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if not user.username %}
    <form action="/" method="post">
        {% csrf_token %}
        <label for="login">Login</label>
        <input name="login" id="login" type="text" placeholder="enter the login"><br>
        <label for="password">Password</label>
        <input name="password" id="password" type="password" placeholder="enter the pwd"><br>
        <input type="submit" value="OK">
    </form>
{% else %}
    <form action="/" method="post">
        {% csrf_token %}
        <input type="submit" value="logout">
    </form>
    {% for e in entryes %}
        <form action="/entry/{{ e.id }}/" method="post">
            {% csrf_token %}
            <input value="{{ e.blog.name }}" name="blog__name">
            <input value="{{ e.headline }}" name="headline">
            <input value="{{ e.body_text }}" name="body_text">
            <input type="date" value="{{ e.get_pub_date }}" name="pub_date">
            <input type="submit" value="Save">
        </form>
    {% endfor %}
{% endif %}
</body>
</html>